body {
  background: #111;
  color: #fff;
  font-weight: 600;
  font-size: 1.3em;
}

#main{
  padding: 0;
  margin-top: 12%;
  letter-spacing: 4px;

  /* margin: auto; */
}
#change{
  font-size: 1.2em;
  color: #3399ff;
}
